<div class="row">
   <div class="col-md-8">
        <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f.value)">
            <div class="form-group">
                <label for="name">member fullName</label>
                <input type="text" class="form-control" id="name"  #name="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" ngModel name="name">
                <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                    <div *ngIf="name.errors.required">member name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="age">member age</label>
                <input type="number" class="form-control" id="age" #age="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && age.invalid }" ngModel name="age">
                <div *ngIf="f.submitted && age.invalid" class="invalid-feedback">
                    <div *ngIf="age.errors.required">member age is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="phone">member phone</label>
                <input type="number" class="form-control" id="phone" #phone="ngModel" required minlength="11" [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" ngModel name="phone">
                <div *ngIf="f.submitted && age.invalid" class="invalid-feedback">
                    <div *ngIf="phone.errors.required">member phone is required</div>
                    <div *ngIf="phone.errors.minlength">phone number must be 11 number</div>
                </div>
            </div>
            <div class="form-group">
                <label for="date">participation date</label>
                <input type="date" class="form-control" id="date" #date="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && date.invalid }" ngModel name="date">
                <div *ngIf="f.submitted && date.invalid" class="invalid-feedback">
                    <div *ngIf="date.errors.required">participation date age is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="price">participation price</label>
                <div class="input-group">
                <input type="number" class="form-control" id="price" #price="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && price.invalid }" ngModel name="price">
                    <div class="input-group-append">
                        <span class="input-group-text">$</span>
                    </div>
                    <div *ngIf="f.submitted && price.invalid" class="invalid-feedback">
                        <div *ngIf="price.errors.required">participation price age is required</div>
                    </div>
                </div>                
            </div>
            <div class="form-group">
                <label for="month">no of months</label>
                <input type="number" class="form-control" id="price" #month="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && month.invalid }" ngModel name="month">
                <div *ngIf="f.submitted && month.invalid" class="invalid-feedback">
                    <div *ngIf="month.errors.required">no of months age is required</div>
                </div>
            </div>
            <button class="btn btn-success" type="submit">Submit</button>
            <button class="btn btn-danger" type="reset">Clear</button>
            </form>
        </div>      
</div>

