/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    background: url('http://www.profitnessclub.com/images/gym-dark.png') center no-repeat fixed;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
