<div class="row">
    <div class="col-md-9">
        <div class="input-group">
            <input  
                [(ngModel)]="searchText" 
                type="search" 
                class="form-control" 
                placeholder="search member name.....">
             <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            </div>
            <p class="lead">Today is {{today | date}}</p>
            <table class="table table-bordered">
                <thead>
                    <tr class="text-center">
                        <td>member name</td>
                        <td>member phone</td>
                        <td>participation date</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let member of members | filter: searchText">
                        <td>
                            <i class="fa fa-trash fa-lg" (click)="deleteMember(member.key)"></i>
                                {{ member.name }}
                        </td>
                        <td>{{ member.phone }}</td>
                        <td>
                        <div> 
                            <input type="date" [(ngModel)]="member.date" class="in">
                            <button class="btn btn-info btn-xs" (click)="updateDate(member.key, member.date)">confirm change</button> 
                        </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-danger" (click)="deleteCustomers()">Delete all members</button>        
    </div> 
</div>